*{
    margin: 0;
    padding: 0;
}
.clear::after{content:"";display: block;clear:both;height: 0;overflow: hidden;visibility: hidden;}
.head{
    background-color: black;
  
}
.nav{
    display:flex;
    justify-content: space-between;
}
.nav_box{
    z-index:200;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    border-right:1px solid #333;
    background-color: linen;
}
ul:nth-child(1){
    display:flex;
    
}
li{
    list-style: none;
    text-align: center;
    padding-right: 1em; 
    height:30px; 
   
}
ul>li>a{
    display:block;
    color:gray;
    text-decoration: none;
    text-align:center;
    line-height:40px;
    cursor: pointer;
}

ul:nth-child(2){
    display: flex;
}
button{
    background-color: black;
    height:30px;
    border:none;
    text-align: center;
    margin-top:5px;
}
ul>img {
    width:210px;
    height:80px;
    position: fixed;
    right: 120px;
    top: 45px;
    opacity: 0.6;
    display: none;
  }
a:hover{
    color:#fff;
    text-decoration: none;
    
}
.nav button{
    background-color: #6666;
    color: darkgray;
    padding: 0 15px;
}
button:hover{
    color:orangered;
    text-decoration: none;
}
.p1{
    position: fixed;
    top:80px;
    right:120px;
    display: none;

}
.reversal {
    width:80px;
    height:80px; 
    /* border: 1px solid red;  */
    margin: 20px 70px 20px 120px;
    position: relative;
    float:left;
}
/* 正反翻面效果 */
.face,.back {
    background-color: orangered;
    position: absolute; 
    width: 80px;
    height: 80px;
    text-align:center;
    line-height:80px;
    backface-visibility: hidden; 
    transform-style: preserve-3d; 
    transition: transform 1s; 
}
.face{transform: rotateY(0deg);}
 .back{transform: rotateY(-180deg);}
.reversal:hover .back{transform:rotateY(0deg);}
.reversal:hover .face{transform:rotateY(180deg);}

.nav_top{
    position: relative;
    /* display: none; */
}
.nav_top span{
    position: absolute;
    font-size: 20px;
    padding-top: 40px;
    padding-right: 20px;
    cursor: pointer;
}
.nav_top>ul{
    display: flex;
    margin-top:40px;
    position: absolute;
    left:280px;
}
.nav_top>ul>li{
    font-size: 20px;
    cursor: pointer;

}
.nav_top>ul>li:hover{
    color:orangered;
}
.nav_box{
    display: none;
    position: absolute;
    height: 50%;
    background-color: #fff;
}
.nav_box>ul{
   display: flex;
    left:220px;
    top:10px;
    background-color: #fff;
}
.nav_box>ul img{
    width: 160px;
    height: 110px;
    
}
.search{
    width: 300px;
    height: 50px;
    border:1px solid #333;
    position:absolute;
    right:80px;
    top:80px;
}
.search>input{
    border:none;
    line-height:48px;
    padding-left: 10px;
    width: 233px;

}
.search>button{
    height:50px;
    width:55px;
    background-color: #fff;
    text-align: center;
    line-height: 50px;
    float:right;
    margin-top: -2px;
   border:1px solid #333;
   border-right: none;
}
.search>button:hover{
    background:palegreen;
    
}
/* 商品导航 */
.box2{
    position: absolute;
    display: block;
    width: 234px;
    height: 465px;
    display: flex;
    flex-direction: column;
    margin-left: 120px;   
}
.box2>.nav_left{
    background-color: lightslategrey;
    display: none;
    width: 100%;
    height: 465px;
    z-index:100;

}
.box2>.nav_left>ul{
    padding-top: 20px;
    width: 100%;
    height: 465px;
    display:block;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index:100;
    background-color: rgba(105,101,101,.6);
    color: #fff;
}
.box2>.nav_left>ul>li{
    display: flex;
    justify-content: space-between;
    width:100%;
    height:10%;
    padding-left:10px;
    box-sizing:border-box;
    position: relative;
    cursor: pointer;
    color: #fff;
    align-items: center;
}
.box2>.nav_left>ul>li:hover{
    background: orange;
}
.box2>.nav_right{
    width: 925px;
    height:463px;
    position:absolute;
    background-color: gray;
    left:230px;
    display: none;
  
}
.box2>.nav_right>ul{
    display: flex;
    position:absolute;
    z-index: 99;
}
.box2>.nav_right>ul li{
    display: flex;
    flex-wrap: wrap;
    width: 25%;
}
.box2>.nav_right>ul img{
    display: block;
    width: 40px;
    height: 40px;
    float: left;
}
.box2>.nav_right>ul p{
    /* float: left; */
    font-size: 14px;
    /* line-height: 40px; */
    text-align: center;
    padding: 20px;
}
/* 下滑 */
.huadong>.left{
    display: flex;
    float: left;
}
.huadong>.right{
    float: right;
}
.huadong li{
    padding: 0;
}
.huadong span{
    margin: 0 3.5px;
}
/* 详细页面 */
.box{
    display: flex;
    height: 250px;
}
.box>.box_left{
    width: 560px;
    height: 560px;
}
.box img{
    width: 250px;
    height: 250px;
    margin: 0 150px;
}
.box>.box_right{
    flex: 1;
}
.box>.box_right>p:nth-child(2){
    color: #b0b0b0;
    padding-top: 8px;
}
.box>.box_right p:nth-child(3){
    color: #ff6700;
    font-size: 18px;
    padding: 12px 0 20px 0;
    border-bottom: 1px solid #e0e0e0;
}
.box>.box_right button{
    width: 120px;
    height: 52px;
    font-size: 16px;
    background-color: #fff;
    border:1px solid #ff6700;
    margin-right: 20px;    
}
.box>.box_right button:hover{
    background-color: #ff6700;
    color: #fff;
}